[submodule "extern/fabm"]
	path = extern/fabm
	url = https://github.com/vadimzin/fabm.git
[submodule "extern/flexout"]
	path = extern/flexout
	url = https://github.com/BoldingBruggeman/flexout.git
[submodule "extern/stim"]
	path = extern/stim
	url = https://github.com/BoldingBruggeman/stim.git
[submodule "extern/gsw-fortran"]
	path = extern/gsw
	url = https://github.com/TEOS-10/GSW-Fortran.git
[submodule "extern/CVMix-src"]
	path = extern/CVMix-src
	url = https://github.com/CVMix/CVMix-src.git
